.AboutContainer{
    display: flex;
    flex-direction: column;
    background-color:#EEEEEE;
    gap:1px;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;

}

.about{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:15px;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.aboutPage{
    width: 500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 20px;
    margin-top: 20px;
}
.texts{
    text-indent: 20px;
    text-align: justify;
    letter-spacing: 1px;
    white-space: pre-wrap;	
}

.imageHolder{
    align-content: center;
}
