.channelFilterPanel {
display: flex;
flex-direction: column;
max-height: 100vh;
overflow-y: scroll;
background: #eeeeee;
gap:5px;
margin-right: 20px;
padding-top: 20px;
padding-right: 5px;
padding-left: 20px;
}

.searchIconPostion{
  margin-left: -50px;
  margin-bottom: -3px;
}


.channelFilterPanel__channelList{
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: wrap;
  display: inline-block;

}
/* .channelFilterPanel__channel{
    display: flex;
    width: 200px;
    flex-direction: row;

} */


.channelFilterPanel__search {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 14px;
  color: #666;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-bottom: 30px;
  height: 50px;
  margin-left: 5px;
  width: 240px;
 
}

.channelFilterPanel__channel {
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5%;
  
}

.channelFilterPanel__channel:hover {
  background: white;
}

.channelFilterPanel__thumbnail {
  width: 20px;
  margin-right: 20px;
}


.channelFilterPanel__search:hover{
  box-shadow: 1px 1px 1em #c4c4c4;

}

@media only screen and (max-width: 575px){

.channelPageWrapper {
 display: flex;
 flex-direction: column;
    }

.channelFilterPanel{
  max-height: 400px;
  overflow-y: scroll;
  width: 100%;
}
}
