.contactContainer{
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.contactElements{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin: 5% 5% 5% 5%;
    padding: auto;
    
    
}

.contactArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
}
.btnSubmit{
    margin-left: auto;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .contactContainer{
      width: 100%;
    }
  }