.contactContainer{
    max-height: 100vh;
    overflow-y: scroll;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.contactElements{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin: 5% 5% 5% 5%;
    padding: auto;
    
    
}

.contactArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
}
.btnSubmit{
    margin-left: 50%;
   
}

  #outlined-basic{
    border:2px solid #DDB329;
  }