
.footerContainerPage{
    display: flex;
    flex-direction: column;
    background-color: #001E3C;
    color:white;
   
}
.row{

display: flex;
flex-direction: row;
justify-content: space-around;
flex-shrink: 3;
flex-wrap: wrap;
width: 100%;
margin-bottom: 20px;


}


.heading{
    font-size: 24px;
    color: #746A72;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 17px;

}
.footerLink{
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.links{
    display: flex;
    flex-direction:column;
    gap:10px;
   
}

.links a{
    color:white
}