.groupChannelContainer{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
}
.ablyChatComponent{
    padding: 10px 10px;
    width: 100%;
    border-radius:12px
}

.title{
    padding: 1% 25% 2% 25%;
    position: static;
    font-size: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  
}