
.header{
    border-bottom: 1px solid #435f86;
     background-color: #001E3C;
    overflow-x: auto;
    position: absolute;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #001E3C;
    flex-shrink: 4;
    flex-wrap: wrap;  

}

.hamburger {
    display: none;
    position: static;
   
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #222222;
}

.navmenu {
    display: flex;
    justify-content: space-around;  
}

.navitem {
    margin-left: 3rem;
    list-style-type: none; 
}

.navlink{
    font-size: 0.8rem;
    font-weight: 200;
    color:white;
    text-transform: uppercase;
    
}

.navlink:hover{
    color: #14A800;
}

.navlogo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 1081px) {
    .header{
     background-color: #001E3C;
    }
    .navmenu {
        position: fixed;
        left: -100%;
        right: -100%;
        top: 5rem;
        flex-direction: column;
         background-color: #001E3C;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navmenu.active {
        left: 0;
        right: 0;
    }

    .navitem {
        margin: 4rem 0 0 5rem;
    }
    .navmenu{
         background-color: #001E3C;
        z-index: 100;
        padding-bottom: 20px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

}

.footer {
    align-items: center;
    font-size: 1.5rem;
}

.navbar li a{
    text-decoration: none;
}
.navbar li{
    list-style-type: none;
}
.date{
    display: flex;
    flex-direction: row;
    gap:20px
}


@media only screen and (max-width:432){
    .navitem {
        width: 200px;
    }
}

