.notificationContainer{
    max-height: 100vh;
    overflow-y: scroll;
    width: 100%;
    justify-content: center;
    display: flex;
}
.notificationList{
    overflow-y: scroll;
    width: 700px;
    gap:20px;
    white-space: pre-wrap;	
}
.notification{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    white-space: pre-wrap;	
}

